.button {
    width: 100px;
    height: 30px;
    background-color: blue;
    color: white
}
#counter{
    display: flex;
    justify-content: center;
    font-size: 40px;
}
#buttonSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}