.button {
    width: 100px;
    height: 30px;
    background-color: blue;
    color: white;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(190, 190, 231);
}
.text-input {
    background-color: green;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

body {
    background-color: whitesmoke;
}

main {
    background-color: rgb(234, 222, 222);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#result-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#result-img img{
    padding: 10px;
    gap: 10px;
    width: 100px;
    height: 100px;
   

}

